# pip install -r requirements.txt

# Base ----------------------------------------
tqdm
numpy
h5py
opencv-python
requests
PyYAML

# Logging -------------------------------------
tensorboard

# Plotting ------------------------------------
pandas
seaborn
